/* App.js file Css */
.App {
    background-color: #111111;
    height: 100vh;
    color: #ffffff;
}
.bg-drk {
    background-color: #111111;
    color: #ffffff;
}
/* Header CSS */
.Header {
    height: 8vh;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.Header .logo {
    font-family: "Caveat", cursive;
    color: #ffffff;
}
.Header .logo span,
.green {
    color: #dfea43;
}
.Header .Button {
    border: 2px solid #ffffff;
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
}
@media screen and (max-width: 562px) {
    .Header {
        height: 7vh;
    }
}

/* Login.css */
.login {
    height: 100vh !important;
    width: 100vw !important;
}
.container-login {
    background-color: #dfea43;
    border-radius: 12px;
}
.container-login h1,
.container-login p {
    color: #111111;
    font-weight: 600;
}

.form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    width: 70%;
    margin: 0 auto;
}
.form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid #111111;
    width: 60%;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    text-align: center;
    transition-duration: 0.25s;
    color: #111111;
}
.form input:hover {
    background-color: #111111;
    color: #ffffff;
}
.form input:focus {
    background-color: #000000;
    width: 300px;
    color: #ffffff;
}
.form ::placeholder {
    color: #111111;
    font-weight: 600;
}
.form input:hover::placeholder {
    color: white;
}
.form button,
.webcam-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    display: block;
    background-color: #111111;
    border: 0;
    padding: 10px 8px;
    color: #ffffff;
    border-radius: 12px;
    font-size: 20px;
    width: 30%;
    cursor: pointer;
    transition-duration: 0.25s;
    margin: auto;
}
.form button:hover,
.webcam-btn:hover {
    border: 1px solid #111111;
    border-radius: 12px;
    background-color: #f5f7f9;
    color: #111111;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 90vw;
    }
}
@media screen and (max-width: 576px) {
    .login {
        height: 120vh !important;
    }
    .login-container {
        padding-top: 10%;
    }
    .container {
        max-width: 80vw;
    }
    .form {
        width: 90%;
    }
    .container .text {
        width: 100%;
        padding: 80px 20px;
    }
}
/* Webcame.js */
.webcame,
.image {
    height: 30vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 25px #111111;
}
